body {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    font-family: "SixtyFour Convergence", sans-serif;
    font-size: 2rem;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007acc;
    font-size: 1.2rem;
}

a:hover {
    color: #005f99;
}

.sixtyfour-convergence-<uniquifier > {
    font-family: "Sixtyfour Convergence", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
}

.titillium-web-extralight {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: normal;
}

.titillium-web-regular {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-semibold {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: normal;
}

.titillium-web-bold {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: normal;
}

.titillium-web-black {
    font-family: "Titillium Web", serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight-italic {
    font-family: "Titillium Web", serif;
    font-weight: 200;
    font-style: italic;
}

.titillium-web-light-italic {
    font-family: "Titillium Web", serif;
    font-weight: 300;
    font-style: italic;
}

.titillium-web-regular-italic {
    font-family: "Titillium Web", serif;
    font-weight: 400;
    font-style: italic;
}

.titillium-web-semibold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-style: italic;
}

.titillium-web-bold-italic {
    font-family: "Titillium Web", serif;
    font-weight: 700;
    font-style: italic;
}
